<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil_photo.png"
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Brandan Flavia Daniela</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Corporis voluptas provident 
            modi qui atque odit consequatur in fuga sapiente! 
            Praesentium facere culpa illo esse officiis voluptatum 
            vero excepturi, cupiditate tempora.
            </p>
        </span>
    </div>
</div>


